<% @title = "Making " %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <% if params[:country_name] %>
    <h1><%= _("Voulez-vous avoir un site web comme celui-ci dans votre pays? ") %></h1>
  <% else %>
    <h1>Propulsé par Alaveteli</h1>
  <% end %>
  <p>Ce site est propulsé par Alaveteli. Alaveteli est un logiciel Libre permettant
  de faire des demandes d'accès à l'information. Il peut facilement être traduit dans
  n'importe quelle langue et personnalisé en fonction des modifications de la loi sur
  l'accès à l'information.</p>

  <p>Le développement d'Alaveteli est parrainé et soutenu par un certain nombre de 
  fondations et d'organismes de bienfaisance intéressés par la transparence dans 
  le monde entier. </p>

  <p>Si vous souhaitez créer un site Web Alaveteli dans votre propre pays, nous pouvons 
  vous aider. Vous aurez besoin de quelques jours pour que le site soit configuré et prêt
  à être utilisé. Vous devrez ensuite passer au moins une heure par semaine à modérer et à
  gérer le site (davantage pour les sites Web très fréquentés).</p>

  <p>Plus d'informations sur le <a href="http://alaveteli.org">site Web d'Alaveteli</a> 
  ou envoyez-nous un email.
 

  <div id="hash_link_padding"></div>
</div>